[submodule "mega-sam"]
	path = mega-sam
	url = https://github.com/mega-sam/mega-sam.git
[submodule "third_party/ml-depth-pro"]
	path = third_party/ml-depth-pro
	url = https://github.com/apple/ml-depth-pro.git
